body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 0em auto;
  width: 100%;
  text-align: center;
}

.background {
  stroke: black;
  stroke-width: 2px;
  fill: white;
}


#nodecircle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
